@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    background-color: #c5ebd6;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(passagens-aereas-gramado-capa2019-04.jpg);
    background-size: cover;
    background-position: center right;
}
main {
    border-radius: 10px;
    padding: 20px; 
    background-color: white;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 10px #1a5c37;
    margin-bottom: 30px;
}
.container {
    overflow-x: auto;
}
h1 {
    text-align: center;
    text-decoration: underline red;
    font-family: 'Sriracha', cursive;;
}
table { border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
    
}

th, td { border: 1px solid black;
    padding: 5px;
    color: brown;
}
.dia {
    background-color: aqua;
}
th {
    background-color: rgb(180, 208, 221);
}
tbody > tr:nth-child(2n) {
    background-color: rgb(178, 255, 255);}
    main > table {
        background-color: rgba(240, 237, 243, 0.596);
        margin: auto;
    }
    a {
        text-decoration: none;
        font-weight: 800;

    }
    a:hover {
        text-decoration: underline;
        font-size: 17px;
        color: black;
    }
    a:visited {
        color: rgb(214, 71, 15);
       
    }
    h2 {
        text-align: center;
        margin-top: 40px;
    }
    aside {
        border: 1px solid rgb(72, 72, 199);
        border-radius: 10px;
        box-shadow: 5px 5px 0px 5px rgba(0, 0, 0, 0.144);
        background-color: #c5ebd6;
    }
    aside > ul {
        list-style-position: inside;
        columns: 2;
       
    }
    li {
        padding-bottom:5px;
        
    }
   